@model IEnumerable<LabSpace2.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-light">Index</h1>

<p>
    <a asp-action="Create" class="text-light">Criar Novo</a>
</p>
<table class="table-dark" style="min-height: 60vh">
    <thead>
        <tr >
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoCurta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoDetalhada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagemPequenaUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagemUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destaque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoCurta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoDetalhada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                <img src="@item.ImagemUrl" width="100px" asp-append-version="true">
            </td>
            <td>
                <img src="@item.ImagemPequenaUrl" width="100px" asp-append-version="true">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destaque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.CategoriaId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemId" class="text-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ItemId" class="text-warning">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemId" class="text-warning">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>