@model IEnumerable<LabSpace2.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-light">Index</h1>

<p>
    <a asp-action="Create">Criar Nova</a>
</p>
<table class="table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoriaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CategoriaId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoriaId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
