@model ReflectionIT.Mvc.Paging.PagingList<LabSpace2.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-light">Index</h1>

<form method="get" class="form-inline">
    <input name="filtro" class="form-control" placeholder="filtro" value="@Model.RouteValue["Filtro"]" />
    <button type="submit" class="btn btn-info">Procurar</button>
</form>
Total de Categorias : @Model.TotalRecordCount
<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>

<p>
    <a asp-action="Create" class="text-light">Criar Nova</a>
</p>
<table class="table-dark" style="min-height: 60vh">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="d-flex align-items-start">
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td class="ms-3">
                    <a asp-action="Edit" asp-route-id="@item.CategoriaId" class="text-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoriaId" class="text-warning">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoriaId" class="text-warning">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
